<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="/user/pictures/trophy-2.png" alt="Achievement unlocked" class="img-rounded">
      <div class="caption">
        <h3>Dedicated</h3>
        Participate in two tasks for the same organization
      </div>
      <div class="social-share">
        <img src="/static/karma-quest/img/fb_share.png" alt="Share on my timeline" title="Share on my timeline">
        <img src="/static/karma-quest/img/gp_share.png" alt="Share on my timeline" title="Share on my timeline">
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="/user/pictures/trophy-1.png" alt="Achievement unlocked" class="img-rounded">
      <div class="caption">
        <h3>Starting big</h3>
        Participate in your first task
      </div>
      <div class="social-share">
        <img src="/static/karma-quest/img/fb_share.png" alt="Share on my timeline" title="Share on my timeline">
        <img src="/static/karma-quest/img/gp_share.png" alt="Share on my timeline" title="Share on my timeline">
      </div>
    </div>
  </div>
</div>