{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
	<section>
		<h2>Welcome, {{ user }}!</h2>
		<img src="http://www.placekitten.com/50/50" class="image-rounded" alt="{{ user }}'s profile picture">
		<p>Current level: {{ user_info.level }}</p>
		<p>Total points: <span class="karma-points">{{ user_info.points }}</span> (progress bar to next level)</p>
		<p>Achievements</p>
	</section>

	<section>
		<!-- <h3>Upcoming tasks</h3> -->

		<h3>Previously completed tasks</h3>

		{% include "list_tasks.html" with tasks=user_info.tasks.all %}
	</section>
{% endblock content %}