{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
All tasks
{% endblock %}

{% block content %}

{# No task #}
{% if tasks.count < 1 %}
  <p>No tasks are available right now.</p>
{% endif %}
{# Task list #}
{% for task in tasks %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ task.title | truncatechars:50 }}
      <div class="pull-right karma-points">{{ task.reward }}</div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <ul class="list-unstyled">
        {% with task.picture_set.all as task_pictures %}
        {% if task_pictures %}
        {% for picture in task_pictures %}
        <li><img src="{{ picture.image.url }}"></li>
        {% endfor %}
        {% else %}
      <li><i class="fa fa-camera" style="font-size:130px; color: #ccc;"></i></li>
        {% endif %}
        {% endwith %}
      </ul>
    </div>
    <div class="col-md-6">
      <p>
        {{ task.description | truncatechars:400 }}
      </p>
      <a href="{% url "tasks:task_detail" task.id %}">See detailed information</a>
    </div>
    <div class="col-md-3">
      <h4>Location:</h4>
      <p>{{ task.location | truncatechars:100 }}</p>
      <hr>
      <ul class="list-unstyled">
        <li>Start date: {{ task.start_date }}</li>
        <li>End date: {{ task.end_date }}</li>
      </ul>
    </div>
    <ul class="list-inline">
      {% for tag in task.tags.all %}
      <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

{# Pagination #}
{% if page_obj.has_previous or page_obj.has_next %}
<ul class="pagination">
  {# Previous page link #}
  {% if page_obj.has_previous %}
  <li>
    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
  </li>
  {% else %}
  <li class="disabled"><a href="#">&laquo;</a></li>
  {% endif %}

  {# First page #}
  {% if show_first %}
  <li>
    <a href="?page=1">1</a>
  </li>
  <li class="disabled"><a href="#">...</a></li>
  {% endif %}

  {# List of pages (with current "active") #}
  {% for page in page_numbers %}
  {% ifequal page page_obj.number %}
  <li class="active">
    <a href="#">{{ page }}</a>
  </li>
  {% else %}
  <li>
    <a href="?page={{ page }}">{{ page }}</a>
  </li>
  {% endifequal %}
  {% endfor %}

  {# Last page #}
  {% if show_last %}
  <li class="disabled"><a href="#">...</a></li>
  <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
  {% endif %}

  {# Next page link #}
  {% if page_obj.has_next %}
  <li>
    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
  </li>
  {% else %}
  <li class="disabled"><a href="#">&raquo;</a></li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}
