{% extends "base.html" %}
{% block title %}
{{ organization.title }}
{% endblock %}

{% block content %}
<div class="row">

  {# Quick overview of the organization #}
  <aside class="col-sm-4">
    {% include "organization_overview.html" with organization=organization %}
  </aside>

  {# Organization details #}
  <section class="col-sm-8">
    <!--<header>Cover image</header>-->
    <h2>{{ organization.name }}</h2>

    {# Tags #}
    {% include "tags_list.html" with tags=organization.tags.all %}
    
    <p>{{ organization.description }}</p>

    {# Location (map) #}
    {% include "map_component.html" %}
    <p>
      {# TODO: button should lead to a list of tasks linked to this organization only #}
      <a href="tasks/"><button type="button" class="btn btn-primary">See tasks</button></a> and help this organization
    </p>
  </section>

</div>

{# Related tasks #}
<section class = "row">
  <h2>In the past, {{ organization.name }} needed help to...</h2>
  {% include "three_tasks_placeholder.html" %}
</section>
{% endblock %}