{% extends "base.html" %}
{% block title %}
{{ task.title }}
{% endblock %}

{% block content %}
<div class="row">
  {# Task details #}
  <div class="panel panel-default col-sm-8 col-sm-push-4">
    <div class="panel-body">
      <h2>
        {{ task.title }}
        <div class="pull-right karma-points">{{ task.reward }}</div>
        <small>by <a href="{% url "tasks:org_detail" task.organizer.id %}">{{ task.organizer.name }}</a></small>
      </h2>
      <!--<header>Images in a slider</header>-->

      {# Tags #}
      {% include "tags_list.html" with tags=task.tags.all %}
      
      <p>{{ task.description }}</p>

      {# Location (map) #}
      {% include "map_component.html" %}

      <p>Start and end date + explicit duration</p>
      <p>
        <button type="button" class="btn btn-primary">Participate</button> and win <b>{{ task.reward }} karma points</b>
      </p>
    </div>
  </div>

  {# About the organization #}
  <aside class="col-sm-4 col-sm-pull-8">
    {% include "organization_overview.html" with organization=task.organizer %}
  </aside>

</div>

{# Related tasks #}
<section class = "row">
  {% include "related_tasks.html" %}
</section>
{% endblock %}