@import url(normalize.css);
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Imprima, Helvetica, Arial, sans-serif;
  margin: 0 0 1em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.7em; }

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.2em;
  background: #00A6C4; }

nav {
  height: 4em;
  margin: 0;
  position: relative;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
  nav.navbar-karma {
    background: #00A6C4;
    color: #fff; }
    nav.navbar-karma h1, nav.navbar-karma li, nav.navbar-karma a {
      color: white; }
    nav.navbar-karma a:hover {
      background: transparent; }
    nav.navbar-karma .navbar-collapse a:hover {
      text-decoration: underline; }
    nav.navbar-karma .navbar-brand {
      font-family: Imprima, Helvetica, Arial, sans-serif;
      font-size: 2em; }
  nav .search-form {
    width: 220px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    top: -1px;
    padding: 1em; }
    nav .search-form input {
      border: 1px solid #AAC;
      border-radius: 1em;
      height: 2.3em;
      padding: 0.1em 0.7em;
      width: 170px;
      outline: none;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      transition: 0.3s all; }
    nav .search-form input:focus {
      width: 200px;
      margin-left: -10px; }
    nav .search-form button {
      background: url("img/search.png") left top;
      width: 16px;
      height: 16px;
      border: none;
      position: relative;
      vertical-align: middle;
      margin-left: -27px;
      opacity: 0;
      -webkit-transition: 0.3s opacity;
      -moz-transition: 0.3s opacity;
      transition: 0.3s opacity; }
    nav .search-form input:focus + button {
      display: inline;
      opacity: 1; }
  nav .header-nav {
    position: absolute;
    right: 188px;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
    nav .header-nav li {
      color: #fff;
      line-height: 4em;
      display: inline-block;
      padding: 0 0.8em;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      text-align: center;
      font-weight: bold; }
    nav .header-nav a {
      color: #fff; }
  @media only screen and (max-width: 620px) {
    nav .search-form {
      display: none; } }
  nav .profile {
    display: block;
    position: absolute;
    height: 100%;
    padding-left: 10px;
    right: 0;
    top: 0;
    z-index: 10; }
    nav .profile .profile-picture {
      display: block;
      width: 35px;
      height: 35px;
      padding: 6px;
      position: relative;
      float: left; }
    nav .profile .profile-data {
      display: block;
      width: 150px;
      height: 2em;
      padding-left: 15px;
      font-weight: bold;
      position: relative;
      float: right;
      line-height: 2.1; }
    nav .profile .login-button {
      background: rgba(255, 255, 255, 0.25);
      padding: 0.5em 0.8em;
      margin: 1.22em;
      position: relative;
      top: 1.22em;
      border-radius: 5px; }
      nav .profile .login-button:hover {
        text-decoration: underline; }
    nav .profile .profile-drop {
      display: block;
      position: absolute;
      z-index: 0;
      background: #00A8C6;
      top: 4em;
      right: 0;
      width: 0;
      overflow: hidden; }
      nav .profile .profile-drop ul {
        padding: 0;
        margin: 0; }
      nav .profile .profile-drop li {
        margin: 0;
        list-style: none; }
        nav .profile .profile-drop li a {
          padding: 1em;
          color: #fff;
          font-weight: bold;
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%; }
          nav .profile .profile-drop li a:hover {
            background: rgba(255, 255, 255, 0.2); }
    nav .profile:hover .profile-drop {
      right: 0;
      width: 188px; }

.sidebar {
  width: 220px;
  background: red;
  position: absolute; }

.karma-points {
  display: inline-block;
  margin-top: -8px;
  padding: 5px;
  border: 3px solid #ffce1e;
  /* #428bca */
  border-radius: 100%; }

.level-container {
  display: block;
  width: 95%;
  height: 1.5em;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  top: -3px;
  line-height: 1.5em; }
  .level-container .level-bar {
    display: block;
    background: #F9F2E7;
    width: 70%;
    height: 100%;
    color: #00A6C4;
    border-radius: 3px;
    position: relative;
    text-align: center; }

.panel .level-container {
  background-color: #DFDFDF; }
  .panel .level-container .level-bar {
    background-color: #ffce1e; }

.tags .glyphicon {
  margin-right: 10px; }
.tags li {
  margin-right: 5px;
  padding: 5px !important;
  border: 1px grey solid; }

.thumbnail img {
  max-height: 200px; }

.panel-default {
  background: #f2f6f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f6f7 0%, white 21%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f7), color-stop(21%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f6f7 0%, white 21%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f6f7 0%, white 21%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2f6f7 0%, white 21%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f2f6f7 0%, white 21%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f7', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }
  .panel-default > .panel-heading {
    background: transparent;
    border-bottom: none; }
    .panel-default > .panel-heading h3 {
      font-size: 1.5em; }

.login-well {
  max-width: 500px;
  margin: 3em auto;
  position: relative;
  z-index: 10;
  border: 5px solid #373737; }
  .login-well input {
    margin: 0.2em 0; }
  .login-well button {
    margin-top: 0.5em; }

.bandeau-login {
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;
  height: 25em;
  background: #4F4F4F;
  background: -moz-radial-gradient(center, ellipse cover, #606060 0%, #4f4f4f 50%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #606060), color-stop(50%, #4f4f4f));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #606060 0%, #4f4f4f 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #606060 0%, #4f4f4f 50%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #606060 0%, #4f4f4f 50%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #606060 0%, #4f4f4f 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#4f4f4f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  z-index: 1; }

aside {
  text-align: center; }
  aside p, aside h3 {
    text-align: left; }

div.social-share, .social-share {
  text-align: right; }
  div.social-share img, .social-share img {
    display: inline;
    margin: 0 2px 0 0;
    cursor: pointer; }
