@import url(normalize.css);
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  font-size: 12px; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: Imprima, Helvetica, Arial, sans-serif; }

nav {
  height: 3.8em;
  margin: 0;
  position: relative;
  font-family: Imprima, Helvetica, Arial, sans-serif; }
  nav.navbar-karma {
    background: #00A6C4 !important;
    color: #fff; }
    nav.navbar-karma h1, nav.navbar-karma li, nav.navbar-karma a {
      color: #fff !important; }
    nav.navbar-karma h1 {
      font-family: Imprima, Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0.3em;
      position: relative; }
  nav .search-form {
    width: 270px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    top: 3px;
    padding: 1em; }
    nav .search-form button {
      background: url("loupe.png") left top;
      width: 16px;
      height: 16px;
      border: none;
      position: relative;
      top: 1px;
      margin: 0 0.2em; }
    nav .search-form input {
      border: 1px solid #AAA;
      border-radius: 5px;
      height: 1.7em;
      padding: 2px 5px; }
  @media only screen and (max-width: 620px) {
    nav .search-form {
      display: none; } }
  nav .profile {
    display: block;
    position: absolute;
    height: 100%;
    padding-left: 10px;
    right: 0;
    top: 0;
    z-index: 10; }
    nav .profile .profile-picture {
      display: block;
      width: 35px;
      height: 35px;
      padding: 6px;
      position: relative;
      float: left; }
    nav .profile .profile-data {
      display: block;
      width: 150px;
      height: 2em;
      padding-left: 15px;
      font-weight: bold;
      position: relative;
      float: right;
      line-height: 2.1; }
    nav .profile .profile-drop {
      display: block;
      position: absolute;
      z-index: 0;
      background: #40C0CB;
      top: 3.8em;
      right: 0;
      width: 0;
      overflow: hidden;
      -moz-transition: 0.1s all; }
      nav .profile .profile-drop li {
        margin: 0.5em;
        padding: 0 0.5em;
        list-style: none; }
        nav .profile .profile-drop li a {
          color: #fff;
          font-weight: bold;
          text-decoration: none; }
          nav .profile .profile-drop li a:hover {
            background: rgba(255, 255, 255, 0.2); }
    nav .profile:hover .profile-drop {
      right: 0;
      width: 198px; }

.sidebar {
  width: 220px;
  background: red;
  position: absolute; }

.karma-points {
  display: inline-block;
  margin-top: -8px;
  padding: 5px;
  border: 3px solid #ffce1e;
  /* #428bca */
  border-radius: 100%; }

.level-container {
  display: block;
  width: 95%;
  height: 1.5em;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  top: -3px;
  line-height: 1.5em; }

.level-bar {
  display: block;
  background: #F9F2E7;
  width: 70%;
  height: 100%;
  color: #00A6C4;
  border-radius: 3px;
  position: relative;
  text-align: center; }

.tags .glyphicon {
  margin-right: 10px; }
.tags li {
  margin-right: 5px;
  padding: 5px !important;
  border: 1px grey solid; }
