<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | KarmaQuest</title>
        {% load staticfiles %}
        {% block head %}
        {% block bootstrap %}
        <link rel="stylesheet" href="{% static "bootstrap-3.0.2/css/bootstrap.min.css" %}" media="all">
        <link rel="stylesheet" href="{% static "font-awesome-4.0.3/css/font-awesome.min.css" %}" media="all">
        <script type="text/javascript" src="{% static "bootstrap-3.0.2/js/bootstrap.min.js" %}"></script>
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">KarmaQuest</a>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url "tasks:home_feed" %}">Home feed</a></li>
                <li><a href="{% url "tasks:all_tasks" %}">Tasks</a></li>
            </div>
          </nav>
          {% block content %}
          {% endblock content %}
        </div>
        {% endblock %}
    </body>
</html>
