<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | KarmaQuest</title>
        {% load staticfiles %}
        {% block head %}
        {% block bootstrap %}
        <link rel="stylesheet" href="{% static "bootstrap-3.0.2/css/bootstrap.min.css" %}" media="all">
        <script type="text/javascript" src="{% static "bootstrap-3.0.2/js/bootstrap.min.js" %}"></script>
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
