<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | KarmaQuest</title>
        {% load staticfiles %}
        {% block head %}
        {% block bootstrap %}
        <link rel="stylesheet" href="{% static "bootstrap-3.0.2/css/bootstrap.min.css" %}" media="all">

        {# Fonts #}
        <link rel="stylesheet" href="{% static "font-awesome-4.0.3/css/font-awesome.min.css" %}" media="all">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Imprima:400,700' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="{% static "karma-quest/style.css" %}" media="all">

        <script type="text/javascript" src="{% static "bootstrap-3.0.2/js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap-3.0.2/js/bootstrap.min.js" %}"></script>
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
          <nav class="navbar navbar-karma" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url "tasks:home_feed" %}">KarmaQuest</a>
            </div>

            {# Menu #}
            <div id="navbar-collapse" class="collapse navbar-collapse">
              {% include "menu.html" %}
            </div>

            {# Search form #}
            <form action="" class="search-form">
              <input type="text" placeholder="Search...">
              <button type="submit"></button>
            </form>

            {# Profile picture + progress #}
            <a href="{% url "user:user_profile" %}">
              <span class="profile">
                {% if user.is_authenticated %}
                <span class="profile-picture">
                  <img src="/user/pictures/{{ user }}.jpg" width="35" height="35" alt="Your profile" class="img-rounded" >
                </span>
                <span class="profile-data">
                  {{ user }}
                  <span class="level-container">
                    <span class="level-bar">
                      {{ 12 }}
                    </span>
                  </span>
                </span>
                {% else %}
                <span class="login-button">
                  Sign in
                </span>
                {% endif %}
              </span>
            </a>
          </nav>

          {% block content %}
          {% endblock content %}
        </div>
        {% endblock %}
    </body>
</html>
